<?xml version="1.0" encoding="UTF-8"?>
<server description="Inventario PRN335 - Docker">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm">
        <!-- <user name="yourUserName" password="" />  -->
    </basicRegistry>

    <!-- IMPORTANTE: host="*" para acceso desde fuera del contenedor -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default keyStore para SSL/ORB - se genera automáticamente -->
    <keyStore id="defaultKeyStore" 
              password="Liberty"
              type="PKCS12"
              location="${server.config.dir}/resources/security/key.p12" />
    
    <!-- SSL configuration para ORB (requerido por EJB) -->
    <ssl id="defaultSSLConfig" 
         keyStoreRef="defaultKeyStore" 
         trustDefaultCerts="true"
         sslProtocol="TLSv1.2" />
    
    <!-- ORB configuration (requerido por EJB @Stateless) -->
    <orb id="defaultOrb" sslRef="defaultSSLConfig"/>

    <!-- Aplicación web -->
    <webApplication id="inventario"
                    location="inventario.war"
                    contextRoot="/"
                    name="inventario">
        <classloader delegation="parentLast" />
    </webApplication>
    
    <!-- JVM Options para JasperReports -->
    <jvm>
        <jvmOptions value="-Djava.awt.headless=true"/>
        <jvmOptions value="-Dnet.sf.jasperreports.awt.ignore.missing.font=true"/>
    </jvm>
    
    <!-- JMS Configuration usando motor interno de OpenLiberty -->
    <messagingEngine id="defaultME">
        <queue id="QUEUE1" maxQueueDepth="5000"/>
    </messagingEngine>
    
    <!-- JMS Connection Factory -->
    <jmsQueueConnectionFactory jndiName="jms/JmsFactory">
        <properties.messagingEngine/>
    </jmsQueueConnectionFactory>
    
    <!-- JMS Queue JNDI -->
    <jmsQueue jndiName="jms/JmsQueue">
        <properties.messagingEngine queueName="QUEUE1" deliveryMode="Persistent"/>
    </jmsQueue>
    
    <!-- JMS Activation Spec para ReceptorKardex -->
    <jmsActivationSpec id="InventarioWebapprn335-1.0-SNAPSHOT/ReceptorKardex">
        <properties.messagingEngine destinationRef="jms/JmsQueue"/>
    </jmsActivationSpec>

    <!-- DataSource para PostgreSQL en contenedor db17 -->
    <dataSource id="PostgresDs"
                jndiName="jdbc/pgdb"
                jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true" >
        <properties serverName="db17"
                    databaseName="inventario_prn335"
                    portNumber="5432"
                    user="postgres"
                    password="abc123"/>
    </dataSource>

    <jdbcDriver id="postgresql-driver"
                javax.sql.DataSource="org.postgresql.ds.PGSimpleDataSource"
                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                libraryRef="postgresql-library"/>

    <library id="postgresql-library">
        <fileset id="PostgresqlFileSet"
                 dir="${wlp.install.dir}/lib"
                 includes="postgresql-42.7.4.jar"/>
    </library>

</server>
